@import "tailwindcss";

@theme inline {
  --color-primary: #b90124; /* TIS Red */
  --color-primary-dark: #8a001a;
  --color-secondary: #007A83; /* TIS Teal */
  --color-secondary-light: #60BAB1; /* TIS Light Teal */
  --color-accent: #c09d59; /* TIS Gold */
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}
